<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      data-theme="light"
>
<head th:replace="~{fragments :: header_files('Đăng nhập')}"></head>
<body>
<div th:replace="~{fragments :: navbar}"></div>

<form th:action="@{'/login'}" th:method="post" class="max-w-2xl mx-auto p-5 shadow-md rounded mt-10">
    <h1 class="text-3xl font-semibold text-center">Đăng nhập</h1>

    <div th:if="${param.error != null && param.error[0] == 'disabled'}" role="alert" class="alert alert-error my-5">
        <i class="fa-solid fa-circle-info"></i>
        <span>Tài khoản chưa được kích hoạt. Vui lòng kiểm tra email.</span>
        <a id="btn-resend" th:if="${param.email}" th:href="@{'/resend-verify?email='}" class="btn btn-ghost">Gửi lại mã</a>
    </div>

    <div th:if="${param.error != null && param.error[0] != 'disabled'}" role="alert" class="alert alert-error my-5">
        <i class="fa-solid fa-circle-info"></i>
        <span>Email hoặc mật khẩu không đúng</span>
    </div>

    <label class="form-control w-full">
        <div class="label">
            <span class="label-text">Email</span>
        </div>
        <input type="email" placeholder="Email" required class="input input-bordered w-full" name="email"/>
    </label>

    <label class="form-control w-full">
        <div class="label">
            <span class="label-text">Mật khẩu</span>
        </div>
        <input type="password" placeholder="Mật khẩu" required class="input input-bordered w-full" name="password"/>
    </label>

    <div class="form-control my-3">
        <label class="label cursor-pointer justify-end gap-3">
            <span class="label-text">Ghi nhớ đăng nhập</span>
            <input type="checkbox" class="checkbox" name="remember-me" />
        </label>
    </div>

    <button class="btn btn-primary block w-full mt-5">Đăng nhập</button>
</form>

<script>
    const btnResend = document.getElementById('btn-resend');
    btnResend.addEventListener('click', (e) => {
        const urlParams = new URLSearchParams(window.location.search);
        const email = urlParams.get('email');
        btnResend.href += email;
    })
</script>
</body>
</html>
