<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<body>

<th:block th:fragment="sidebar">
    <ul class="menu bg-base-100 w-72 rounded-none items-stretch fixed">
        <li class="menu-title text-xl">Quản lý</li>
        <li sec:authorize="hasAuthority('Admin')">
            <a th:href="@{/management/employees}" th:class="${currentTab == 'employees' ? 'active' : ''}">Nhân viên</a>
        </li>
        <li sec:authorize="hasAuthority('Admin')">
            <a th:href="@{/management/customers}" th:class="${currentTab == 'customers' ? 'active' : ''}">Khách hàng</a>
        </li>
        <li>
            <a th:href="@{/management/orders}" th:class="${currentTab == 'orders' ? 'active' : ''}">Đơn đặt hàng</a>
        </li>
        <li>
            <p>Đồng hồ</p>
            <ul>
                <li><a th:href="@{/management/brands}"
                       th:class="${currentTab == 'brands' ? 'active' : ''}">Hãng đồng hồ</a></li>
                <li><a th:href="@{/management/categories}"
                       th:class="${currentTab == 'categories' ? 'active' : ''}">Loại đồng hồ</a></li>
                <li><a th:href="@{/management/products}"
                       th:class="${currentTab == 'products' ? 'active' : ''}">Đồng hồ</a></li>
            </ul>
        </li>
        <li><a th:href="@{/management/sections}"
               th:class="${currentTab == 'sections' ? 'active' : ''}">Mục trang chủ</a></li>
    </ul>
    <div class="w-72"></div>
</th:block>


<th:block th:fragment="navbar">
    <div class="navbar bg-base-100 shadow-sm sticky top-0 z-10">
        <div class="flex-1">
            <a class="btn btn-ghost text-xl" th:href="@{/}">Watch World</a>
        </div>

        <form id="logout" th:action="@{/logout}" th:method="post"></form>

        <div class="dropdown dropdown-end" sec:authorize="isAuthenticated()">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                    <img th:src="@{${#authentication.principal.imageUrl}}"/>
                </div>
            </div>
            <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
                <li class="p-2 text-center font-semibold" sec:authentication="principal.fullName"></li>
                <li sec:authorize="hasAnyAuthority('Admin', 'Bán hàng')"><a th:href="@{/management}">Quản lý</a></li>
                <li><a th:href="@{/profile}">Thông tin cá nhân</a></li>
                <li>
                <li>
                    <button form="logout">Đăng xuất</button>
                </li>

                </li>
            </ul>
        </div>

        <div class="flex-none" sec:authorize="!isAuthenticated()">
            <ul class="menu menu-horizontal px-1">
                <li><a th:href="@{/login}">Đăng nhập</a></li>
            </ul>
        </div>


        <div class="flex-none" sec:authorize="!isAuthenticated()">
            <ul class="menu menu-horizontal px-1">
                <li><a th:href="@{/register}">Tạo tài khoản</a></li>
            </ul>
        </div>
    </div>

</th:block>
</body>
</html>