<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<ul th:fragment="sidebar" class="menu bg-base-100 w-72 rounded-none items-stretch">
    <li class="menu-title text-xl">Quản lý</li>
    <li><a th:href="@{/management/employees}">Nhân viên</a></li>
    <li><a th:href="@{/management/customers}">Khách hàng</a></li>
    <li><a th:href="@{/management/orders}">Đơn đặt hàng</a></li>
    <li>
        <p>Đồng hồ</p>
        <ul>
            <li><a th:href="@{/management/brands}"
                   th:class="${currentPage == 'brands' ? 'active' : ''}">Hãng đồng hồ</a></li>
            <li><a th:href="@{/management/categories}"
                   th:class="${currentPage == 'categories' ? 'active' : ''}">Loại đồng hồ</a></li>
            <li><a th:href="@{/management/products}">Đồng hồ</a></li>
        </ul>
    </li>
</ul>
</body>
</html>