<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


<!--/*@thymesVar id="product" type="io.dedyn.hy.watchworldshop.entities.Product"*/-->
    <th:block th:fragment="categories" th:object="${product}">

        <input type="radio" name="my_tabs_2" role="tab" class="tab whitespace-nowrap" aria-label="Loại"/>
        <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6 max-h-[400px] overflow-y-auto">

            <!--/*@thymesVar id="category" type="io.dedyn.hy.watchworldshop.entities.Category"*/-->
            <div th:each="category : ${categories}" class="form-control">
                <label class="label cursor-pointer">
                    <span class="label-text" th:text="${category.name}"></span>
                    <input type="checkbox" th:field="*{categories}" th:value="${category.id}" class="checkbox" />
                </label>
            </div>

        </div>
    </th:block>


</body>
</html>