<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-theme="light">
<head th:replace="~{fragments :: header_files('Đồng Hồ')}">
</head>
<body class="flex flex-col">
<div class="flex flex-row flex-1">
    <div th:replace="~{management/fragments :: sidebar}"></div>
    <div class="flex-1">
        <div th:replace="~{management/fragments :: navbar}"></div>
        <div class="p-5">
            <div class="max-w-fit mx-auto my-5">
                <h1 class="text-3xl font-semibold">Đồng hồ</h1>
            </div>
            <div th:if="${message}" role="alert" class="alert my-5">
                <i class="fa-solid fa-circle-info"></i>
                <span th:text="${message}"></span>
            </div>
            <a th:href="@{/management/products/create}" class="btn btn-primary my-5">
                <i class="fa-solid fa-plus"></i>
                Thêm
            </a>
            <div class="overflow-x-auto">
                <table class="table table-zebra">
                    <!-- head -->
                    <thead>
                    <tr>
                        <th>Mã</th>
                        <th>Hình</th>
                        <th>Tên đồng hồ</th>
                        <th>Hãng</th>
                        <th>Niên yết</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- row -->
                    <tr class="hover" th:each="product : ${products}">
                        <th th:text="${product.id}"></th>
                        <td class="h-[70px] w-[100px]">
                            <img th:src="@{${product.mainImageUrl}}" alt="" class="object-contain">
                        </td>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.brand.name}"></td>
                        <td th:if="${product.enabled == false}">
                            <span class="fa-stack text-xs">
                                <i class="fa-regular fa-square fa-stack-2x"></i>
                            </span>
                        </td>
                        <td th:if="${product.enabled == true}">
                            <span class="fa-stack text-xs">
                                <i class="fa-solid fa-square fa-stack-2x text-primary"></i>
                                <i class="fa-solid fa-check fa-stack-1x text-white"></i>
                            </span>
                        </td>
                        <td>
                            <div class="flex flex-row gap-5 justify-end">
                                <a th:href="@{'/management/products/edit/' + ${product.id}}" class="tooltip"
                                   data-tip="Sửa">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <form th:action="@{'/management/products/delete/' + ${product.id}}"
                                      class="tooltip text-error"
                                      data-tip="Xóa"
                                      th:method="post"
                                      th:data-name="${product.name}">
                                    <button>
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    const deleteButtons = document.querySelectorAll('form[data-name]');
    deleteButtons.forEach(button => {
        button.addEventListener('submit', function (e) {
            const name = this.getAttribute('data-name');
            if (!confirm(`Bạn có chắc chắn muốn xóa đồng hồ "${name}" không?`)) {
                e.preventDefault();
            }
        });
    });
</script>
</body>
</html>
