<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<!--/*@thymesVar id="product" type="io.dedyn.hy.watchworldshop.entities.product.Product"*/-->
<th:block th:fragment="specs" th:object="${product}">
    <input type="radio" name="my_tabs_2" role="tab" class="tab whitespace-nowrap" aria-label="Thông số"/>
    <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">

        <button type="button" class="btn btn-primary mb-5" id="btn-new-spec">
            <i class="fa-solid fa-plus"></i>
            Thêm
        </button>

        <div id="specs" class="flex flex-col gap-5">
            <div th:each="spec : ${product.productSpecs}" class="w-full flex flex-row gap-5">
                <input type="hidden" name="specIds" th:value="${spec.id}">
                <input name="specNames" th:value="${spec.name}" type="text" placeholder="Tên thông số" class="input input-bordered w-full" required/>
                <input name="specValues" th:value="${spec.value}" type="text" placeholder="Giá trị" class="input input-bordered w-full" required/>
                <span class="cursor-pointer flex items-center btn-delete-spec">
                    <span class="fa-stack">
                        <i class="fa-solid fa-circle fa-stack-2x text-error"></i>
                        <i class="fa-solid fa-xmark fa-stack-1x text-white"></i>
                    </span>
                </span>
            </div>
        </div>


    </div>

    <script>
        const btnNewSpec = document.getElementById('btn-new-spec');
        const specsDiv = document.getElementById('specs');
        const btnDeleteSpecs = document.querySelectorAll('.btn-delete-spec');

        btnDeleteSpecs.forEach(btn => {
            btn.addEventListener('click', () => {
                btn.parentElement.remove();
            });
        });

        btnNewSpec.addEventListener('click', () => {
            const newSpec = document.createElement('div');
            newSpec.classList.add('w-full', 'flex', 'flex-row', 'gap-5');
            newSpec.innerHTML = `
                <input type="hidden" name="specIds" value="0">
                <input name="specNames" type="text" placeholder="Tên thông số" class="input input-bordered w-full" required/>
                <input name="specValues" type="text" placeholder="Giá trị" class="input input-bordered w-full" required/>
                <span class="cursor-pointer flex items-center btn-delete-spec">
                    <span class="fa-stack">
                        <i class="fa-solid fa-circle fa-stack-2x text-error"></i>
                        <i class="fa-solid fa-xmark fa-stack-1x text-white"></i>
                    </span>
                </span>
            `;
            newSpec.querySelector('.btn-delete-spec').addEventListener('click', () => {
                newSpec.remove();
            });
            specsDiv.appendChild(newSpec);
        });
    </script>
</th:block>

</body>
</html>