<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-theme="light">
<head th:replace="~{fragments :: header_files('Lỗi')}">
</head>
<body>
<div th:replace="~{fragments :: navbar}"></div>
<div class="flex flex-col items-center justify-center mt-20 gap-5">
    <div class="text-5xl text-center font-bold text-primary">500</div>
    <div class="text-2xl text-center font-semibold">Lỗi máy chủ</div>
    <a th:href="@{/}" class="btn btn-primary">Về trang chủ</a>
</div>
</body>
</html>