<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-theme="light">
<head th:replace="~{fragments :: header_files('Nhà xuất bản sách')}">
</head>
<body class="flex flex-col">
<div class="flex flex-row flex-1">
    <div th:replace="~{management/fragments :: sidebar}"></div>
    <div class="flex-1">
        <div th:replace="~{management/fragments :: navbar}"></div>
        <div class="p-5">
            <div class="max-w-fit mx-auto my-5">
                <h1 class="text-3xl font-semibold">Nhà xuất bản sách</h1>
            </div>
            <div th:if="${message}" role="alert" class="alert my-5">
                <i class="fa-solid fa-circle-info"></i>
                <span th:text="${message}"></span>
            </div>
            <a th:href="@{/management/publishers/create}" class="btn btn-primary my-5">
                <i class="fa-solid fa-plus"></i>
                Thêm
            </a>
            <div class="overflow-x-auto">
                <table class="table">
                    <!-- head -->
                    <thead>
                    <tr>
                        <th>Mã</th>
                        <th>Logo</th>
                        <th>Tên nhà xuất bản</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- row -->
                    <tr class="hover" th:each="publisher : ${publishers}">
                        <th th:text="${publisher.id}"></th>
                        <td class="h-[70px] w-[100px]">
                            <img th:src="@{${publisher.logoUrl}}" alt="" class="object-contain">
                        </td>
                        <td th:text="${publisher.name}"></td>
                        <td>
                            <div class="flex flex-row gap-5 justify-end">
                                <a th:href="@{'/management/publishers/edit/' + ${publisher.id}}" class="tooltip" data-tip="Sửa">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <form th:action="@{'/management/publishers/delete/' + ${publisher.id}}"
                                      th:method="post"
                                        th:if="${publisher.books.size() == 0}"
                                      class="tooltip text-error"
                                      data-tip="Xóa"
                                      th:data-name="${publisher.name}">
                                    <button>
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </form>
                                <button th:if="${publisher.books.size() > 0}" class="text-neutral-400 cursor-default">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    const deleteButtons = document.querySelectorAll('form[data-name]');
    deleteButtons.forEach(button => {
        button.addEventListener('submit', function (e) {
            const name = this.getAttribute('data-name');
            if (!confirm(`Bạn có chắc chắn muốn xóa nhà xuất bản "${name}" không?`)) {
                e.preventDefault();
            }
        });
    });
</script>
</body>
</html>
