<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-theme="light">
<head th:replace="~{fragments :: header_files('Thêm mục đồng hồ mới')}"></head>
<body class="flex flex-col" hx-headers='js:{"X-CSRF-TOKEN": token}'>
<div class="flex flex-row flex-1">
    <div th:replace="~{management/fragments :: sidebar}"></div>
    <div class="flex-1">
        <div th:replace="~{management/fragments :: navbar}"></div>
        <form th:action="@{'/management/sections/product/' + ${section.id == null ? 'create' : 'edit'}}"
              th:method="post"
              th:object="${section}" class="max-w-4xl mx-auto p-5 shadow-md rounded mt-10"
              enctype="multipart/form-data">

            <h1 class="text-3xl font-semibold text-center"
                th:text="${section.id == null ? 'Thêm mục đồng hồ mới' : 'Chỉnh sửa mục đồng hồ'}"></h1>

            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{type}"/>
            <input type="hidden" th:field="*{order}"/>


            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text">Tiêu đề <span class="text-error">*</span></span>
                </div>
                <input type="text" placeholder="Tiêu đề" minlength="3" maxlength="255" required
                       class="input input-bordered w-full" th:field="*{title}"/>
                <div class="label">
                        <span class="label-text-alt text-error" th:if="${#fields.hasErrors('title')}"
                              th:errors="*{title}"></span>
                </div>
            </label>

            <div class="form-control">
                <label class="label cursor-pointer flex flex-row justify-start gap-5 my-3">
                    <span class="label-text">Hiển thị </span>
                    <input type="checkbox" th:field="*{enabled}" class="checkbox checkbox-primary"/>
                </label>
            </div>
            <button type="button" class="btn btn-primary my-5" onclick="my_modal_1.showModal()">Thêm đồng hồ</button>

            <div id="preview" class="flex flex-row overflow-x-auto gap-2 p-3 z-10">

                <div th:each="sectionProducts : ${section.sectionProducts}"
                     th:with="product = ${sectionProducts.product}"
                     class="card card-compact flex-none w-[200px] bg-base-100 shadow">
                    <figure>
                        <img th:src="${product.mainImageUrl}" class="w-[200px] h-[150px] object-contain"/>
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title text-sm" th:text="${product.name}"></h2>
                        <div class="flex flex-row gap-5 justify-end">
                            <i class="fa-solid fa-trash cursor-pointer" onclick="deleteCard(this)"></i>
                            <i class="fa-solid fa-angle-left cursor-pointer" onclick="moveCardLeft(this)"></i>
                            <i class="fa-solid fa-angle-right cursor-pointer" onclick="moveCardRight(this)"></i>
                        </div>
                    </div>
                    <input type="hidden" th:value="${product.id}" name="selectedProducts">
                    <input type="hidden" th:value="${sectionProducts.id}" name="sectionProductIds">
                </div>
            </div>

            <button class="btn btn-primary block w-full mt-5"
                    th:text="${section.id == null ? 'Thêm' : 'Sửa'}"></button>
        </form>

        <dialog id="my_modal_1" class="modal">
            <div class="modal-box max-w-[64rem]">
                <h3 class="font-bold text-lg mb-4">Chọn đồng hồ</h3>

                <input id="searchbar"
                       placeholder="Tìm"
                       type="search"
                       name="search"
                       class="input input-bordered"
                       hx-post="/htmx/sections/product/search"
                       hx-trigger="input changed delay:300ms, search"
                       hx-target="#search-results">

                <div id="search-results" class="my-4"></div>

                <div class="modal-action">
                    <form method="dialog">
                        <button class="btn ml-2">Hủy</button>
                    </form>
                </div>
            </div>
        </dialog>
    </div>
</div>

<script th:inline="javascript">
    let contextPath = /*[[@{/}]]*/ "/";
    contextPath = contextPath.slice(0, -1);

    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.path = contextPath + event.detail.path;
    })

    const preview = document.getElementById('preview');
    const modal = document.getElementById('my_modal_1');

    function addProduct(element) {
        const productId = element.getAttribute('data-id');
        const productName = element.getAttribute('data-name');
        const productImageUrl = element.getAttribute('data-url');

        preview.innerHTML += `
            <div class="card card-compact flex-none w-[200px] bg-base-100 shadow">
                <figure>
                    <img src="${contextPath + productImageUrl}" class="w-[200px] h-[150px] object-contain"/>
                </figure>
                <div class="card-body">
                    <h2 class="card-title text-sm">${productName}</h2>
                    <div class="flex flex-row gap-5 justify-end">
                        <i class="fa-solid fa-trash cursor-pointer" onclick="deleteCard(this)"></i>
                        <i class="fa-solid fa-angle-left cursor-pointer" onclick="moveCardLeft(this)"></i>
                        <i class="fa-solid fa-angle-right cursor-pointer" onclick="moveCardRight(this)"></i>
                    </div>
                </div>
                <input type="hidden" value="${productId}" name="selectedProducts">
                <input type="hidden" value="0" name="sectionProductIds">
            </div>`;
        modal.close();
    }

    function deleteCard(btnElement) {
        btnElement.parentElement.parentElement.parentElement.remove();
    }

    function moveCardLeft(btnElement) {
        const card = btnElement.parentElement.parentElement.parentElement;
        const previousCard = card.previousElementSibling;

        if (previousCard) {
            card.parentElement.insertBefore(card, previousCard);
        }
    }

    function moveCardRight(btnElement) {
        const card = btnElement.parentElement.parentElement.parentElement;
        const nextCard = card.nextElementSibling;

        if (nextCard) {
            card.parentElement.insertBefore(nextCard, card);
        }
    }
</script>
</body>
</html>
