<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-theme="light">
<head th:replace="~{fragments :: header_files(${section.id == null ? 'Thêm mục nhà xuất bản mới' : 'Sửa mục nhà xuất bản'})}"></head>
<body class="flex flex-col" hx-headers='js:{"X-CSRF-TOKEN": token}'>
<div class="flex flex-row flex-1">
    <div th:replace="~{management/fragments :: sidebar}"></div>
    <div class="flex-1">
        <div th:replace="~{management/fragments :: navbar}"></div>
        <form th:action="@{'/management/sections/publisher/' + ${section.id == null ? 'create' : 'edit'}}"
              th:method="post"
              th:object="${section}" class="max-w-4xl mx-auto p-5 shadow-md rounded mt-10"
              id="publisher-form"
        >

            <h1 class="text-3xl font-semibold text-center"
                th:text="${section.id == null ? 'Thêm mục nhà xuất bản mới' : 'Sửa mục nhà xuất bản'}"></h1>

            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{type}"/>
            <input type="hidden" th:field="*{order}"/>


            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text">Tiêu đề <span class="text-error">*</span></span>
                </div>
                <input type="text" placeholder="Tiêu đề" minlength="3" maxlength="255" required
                       class="input input-bordered w-full" th:field="*{title}"/>
                <div class="label">
                        <span class="label-text-alt text-error" th:if="${#fields.hasErrors('title')}"
                              th:errors="*{title}"></span>
                </div>
            </label>

            <div class="form-control">
                <label class="label cursor-pointer flex flex-row justify-start gap-5 my-3">
                    <span class="label-text">Hiển thị </span>
                    <input type="checkbox" th:field="*{enabled}" class="checkbox checkbox-primary"/>
                </label>
            </div>


            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text">Chọn nhà xuất bản</span>
                </div>
                <select class="select w-full select-bordered p-2" multiple="multiple" id="publishers">
                    <option th:each="publisher : ${publishers}" th:value="${publisher.id}" th:text="${publisher.name}"></option>
                </select>
            </label>

            <button type="button" id="btn-select" class="btn btn-primary my-5">Chọn</button>

            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text">Đã chọn</span>
                </div>
                <select class="select w-full select-bordered p-2"
                        multiple="multiple"
                        id="selected-publishers"
                        name="selectedPublishers">
                    <option th:each="sectionPublisher : ${section.getSectionPublishers}"
                            th:value="${sectionPublisher.publisher.id} + '-' + ${sectionPublisher.id}"
                            th:text="${sectionPublisher.publisher.name}">
                    </option>
                </select>
            </label>

            <div class="flex flex-row gap-5 justify-start my-5 p-3">
                <i class="fa-solid fa-trash cursor-pointer" onclick="deletePublisher()"></i>
                <i class="fa-solid fa-angle-up cursor-pointer" onclick="moveUp()"></i>
                <i class="fa-solid fa-angle-down cursor-pointer" onclick="moveDown()"></i>
            </div>

            <button class="btn btn-primary block w-full mt-5"
                    th:text="${section.id == null ? 'Thêm' : 'Sửa'}"></button>
        </form>


    </div>
</div>

<script>
    const publishers = document.getElementById('publishers');
    const selectedPublishers = document.getElementById('selected-publishers');
    const btnSelect = document.getElementById('btn-select');
    const form = document.getElementById('publisher-form');

    form.addEventListener("submit", (e) => {
        const options = selectedPublishers.options;
        for (let i = 0; i < options.length; i++) {
            options[i].selected = true;
        }
    });

    btnSelect.addEventListener('click', () => {
        const selectedOptions = publishers.selectedOptions;

        for (let i = 0; i < selectedOptions.length; i++) {
            const selectedOption = selectedOptions[i];
            const option = document.createElement('option');
            option.value = `${selectedOption.value}-0`
            option.text = selectedOption.text;
            selectedPublishers.add(option);
        }
    });

    function deletePublisher() {
        selectedPublishers.selectedOptions[0]?.remove();
    }

    function moveUp() {
        selectedPublishers.selectedOptions[0]?.previousElementSibling?.before(selectedPublishers.selectedOptions[0]);
    }

    function moveDown() {
        selectedPublishers.selectedOptions[0]?.nextElementSibling?.after(selectedPublishers.selectedOptions[0]);
    }
</script>
</body>
</html>
