<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div th:fragment="book_section" class="grid grid-cols-auto-fill gap-4">
    <!--/*@thymesVar id="book" type="io.dedyn.hy.bookstore.entities.book.Book"*/-->
    <a th:each="sectionBook : ${section.sectionBooks}"
       th:with="book = ${sectionBook.book}"
       th:href="@{'/book/' + ${book.slug}}"
       class="card card-compact w-full bg-base-100 shadow-lg hover:shadow-2xl hover:cursor-pointer">
        <figure>
            <img th:src="@{${book.mainImageUrl}}" class="w-full h-[200px] object-contain"/>
        </figure>
        <div class="card-body flex flex-col justify-between tooltip" th:data-tip="${book.name}">
            <h2 class="card-title text-sm break-words overflow-2-line" th:text="${book.name}">
            </h2>
            <div class="flex flex-col gap-3">
                <p>
                    <span class="line-through"
                          th:text="${'₫' + #numbers.formatDecimal(book.price,0,'COMMA',1,'POINT')}"></span>
                    <span class="badge badge-primary"
                          th:text="${'-' + book.discountPercent + '%'}"></span>
                </p>
                <p class="font-semibold text-lg btn btn-primary"
                   th:text="${'₫' + #numbers.formatDecimal(book.price - book.price * (book.discountPercent / 100),0,'COMMA',1,'POINT')}">
                </p>
            </div>
        </div>
    </a>
</div>

</body>
</html>