<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div th:fragment="category_section" class="grid grid-cols-auto-fill gap-4">
    <!--/*@thymesVar id="category" type="io.dedyn.hy.bookstore.entities.Category"*/-->
    <a th:each="sectionCategory : ${section.sectionCategories}"
       th:with="category = ${sectionCategory.category}"
       th:href="@{${'/book/search?categoryId=' + category.id}}"
       th:text="${category.name}"
       class="btn btn-ghost ring-1 ring-base-300 overflow-hidden">
    </a>
</div>

</body>
</html>